<!DOCTYPE html>
<html xmlns=:th="http://www.thymeleaft.org">

<body>
	<h1>Spring</h1>
	<p>메인페이지</p>
	<span>
		<a href="create">글쓰기</a>
		<a href="post_list">글목록</a>
		<a href="register_form">회원가입</a>
		<!--
		<th:block th:if="${session.login == null}">
			<a href="login_form">로그인</a><br><br>
			<span>손님 안녕하세요</span>
		</th:block>
		<th:block th:if="${session.login != null}">
			<a href="logout_form">로그아웃</a><br><br>
			<span th:text="${session.login.name}"></span>님 안녕하세요
		</th:block>
		-->
		<span th:switch="${session.login}">
			<span th:case="null">
				<a href="login_form">로그인</a><br><br>
				안녕하세요 손님
			</span>
			<span th:case="*">
				<a href="logout_form">로그아웃</a><br><br>
				안녕하세요 <span th:text="${session.login.name}"></span>님</span>
		</span>
		</p>

</body>

</html>